html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background: linear-gradient(
    130deg,
    rgba(131, 214, 240, 1) 0%,
    rgba(0, 45, 154, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.title {
  color: #ffffff;
  text-align: center;
}
